/* 초기화 */
* {
	margin: 0;
	padding: 0;
	font: normal 12px '돋움';
}

ul, ol { blist-style: none; }
a { text-decoration: none; color: #111; }
input, textarea { outline: none; }

/* 게시판 공통(글목록, 글쓰기, 글보기, 글수정, 버튼등) */
#board {
	position: relative;
	margin-top: 10px;
	left: 200px;
	width: 880px;
}

#board table {
	width: 100%;
	border: 2px solid #ddd;
	/* 테이블 테두리간 여백을 제거 */
	border-collapse: collapse;
}

#board table td {
	padding: 8px 5px;
	border: 1px solid #e9e9e9;
}


#board > .paging > .btnWrite {
	float: right;
	padding: 7px;
	border: 1px solid #3b3c3f;
	background: #4b545e;
	color: #fff;
}

#board .btns { float: right; margin-top: 10px; }
#board .submit {
	padding: 7px;
	border: 1px solid #3b3c3f;
	background: #4b545e;
	color: #fff;
}

#board .cancel {
	padding: 7px;
	border: 1px solid #d9ded9;
	background: #f2f5f9;
	color: #000;
}

/* 글쓰기 */
#board .write input[name=subject] { width: 100%; height: 22px; border: 0; }
#board .write label {}
#board .write textarea { width: 100%; border: 0; resize: none; }
#board .write table{
	border: 1px solid white;
	color: #ffffff;
}
#board .write td:nth-child(1) {
	width: 100px;
	background: #4b545e; 
	text-align: center;
}


/* 글목록 */
#board .blist {
	position: relative;
}

#board .blist table{
	border: 1px solid white;
	background: #000;
	color: #ffffff;
}
#board .blist a {
	color: white;
}

#board .blist tr:nth-child(1) > td {
	padding: 12px;
	border-top: 1px solid #d1dee2;
	border-bottom: 1px solid #d1dee2;
	background: #4b545e;
	color: #ffffff;
}

#board > .blist tr:nth-child(1) > td:nth-child(2) { text-align: center; }

#board > .blist td:nth-child(1) { width: 50px; text-align: center; }
#board > .blist td:nth-child(2) { width: auto; text-align: left; }
#board > .blist td:nth-child(3) { width: 100px; text-align: center; }
#board > .blist td:nth-child(4) { width: 110px; text-align: center; }
#board > .blist td:nth-child(5) { width: 50px; text-align: center; }

/* 글목록-페이징 */
#board > .paging {
	margin: 0 0 20px;
	padding: 20px 0 0;
	text-align: center;
}

#board > .paging a {
	display: inline-block;
	padding: 0 8px;
	height: 25px;
	color: #fff;
	background: #000;
	border: 1px solid #d7d7d7;
	line-height: 25px;
}

#board > .paging .current {
	border: 1px solid #6d6d6d;
	background: #888;
	color: #fff;
}

/* 글보기 */
#board > .bview input[name=subject] { width: 100%; height: 22px; border: 0; }
#board > .bview label {}
#board > .bview textarea { width: 100%; border: 0; resize: none; }
#board > .bview td:nth-child(1) {
	width: 100px;
	background: #4b545e;
	text-align: center;
}
#board > .bview td > a{
	color: #fff;
}

#board > .bview .btns { float: right; margin-top: 10px; }
#board > .bview .submit {
	padding: 7px;
	border: 1px solid #3b3c3f;
	background: #4b545e;
	color: #fff;
}

#board > .bview .cancel {
	padding: 7px;
	border: 1px solid #d9ded9;
	background: #f2f5f9;
	color: #000;
}

/* 댓글쓰기 */
.comment_write {
	padding: 20px 20px 40px;
	border: 1px solid #e3e3e3;
	background: #4b545e;
	margin-top: 20px;
}

.comment_write > h3 {
	font-weight: bold;
	border-bottom: 1px dotted #999;
	padding-bottom: 6px;
	background: #4b545e;
}

.comment_write > div {
	margin-top: 10px;
	padding-bottom: 10px;
	background: #4b545e;
}
.comment_write .btns{
	background: #4b545e;
}
.comment_write > form{
	background: #4b545e;
}

.comment_write textarea {
	width: 100%;
	resize: none;
	border: 1px solid #e4eaec;
	color: #fff;
}

/* 댓글목록 */
.comments {
	padding: 20px 20px 10px;
	border: 1px solid #e3e3e3;
	background: #4b545e;
	margin-top: 40px;
}

.comments > h3 {
	background: #4b545e;
	font-weight: bold;
}
.comments > .comment {
	background: #4b545e;
	border-top: 1px dotted #fff;
	margin-top: 10px;
	padding-top: 10px;
}
.comments > .comment > .co {
	text-align: left;
	background: #4b545e;
	border-dottom: 1px solid #fff;	
}
.comments  span {
	background: #4b545e;
}

.comments textarea {
	width: 100%;
	background: transparent;
	color: #fff;
	margin: 10px 0;
	resize: none;
}

.comment > div {
	background: #4b545e;
	text-align: right;
}
.comment > div > a{
	font-size: 11px;
	padding: 7px;
	border: 1px solid #d9ded9;
	background: #f2f5f9;
	color: #000;
	text-align: center;
}

.comments > .empty {
	margin: 0;
	padding: 20px !important;
	text-align: center
}
